.Nav .nav-item, .Nav 
.nav-item-active {
  color: aliceblue;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Nav  .navbar-nav {
  padding-left: 25px;
  padding-bottom: 50px;
  background-color: #192841;
}

.Nav  .navbar-bottom {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #192841;
  font-size: 1rem;
}

.Nav  .navbar-bottom h3 {
  font-size: 1rem;
}

.Nav  .navbar {
  padding-left: 10px;
  padding-right: 100px;
  background-color: #192841;
}

.Nav .call,
.Nav .hours,
.Nav .location {
  color: aliceblue;
}

.Nav .navbar-bottom:hover {
  color: #a7c7e7;
  text-decoration: none;
}

.Nav .nav-item:hover {
  color: #a7c7e7;
  text-decoration: none;
}

.Nav .nav-item-active:hover {
  color: #a7c7e7;
  text-decoration: none;
}
